<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sthybrid.fiftytonemap"
    android:versionCode="1"
    android:versionName="1.0" xmlns:tools="http://schemas.android.com/tools">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" 
        tools:ignore="OldTargetApi"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".activity.StartActivity"
            android:alwaysRetainTaskState="true"
            android:screenOrientation="portrait">
            <intent-filter >
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".activity.FiftyToneMap" android:screenOrientation="portrait"/>
        <activity android:name=".activity.SelfTest" android:screenOrientation="portrait"/>
        <activity android:name=".activity.TestResult" android:screenOrientation="portrait"/>
        <activity android:name=".activity.ErrorStatistics" android:screenOrientation="portrait"/>
    	<activity android:name=".activity.MapExplicit" android:screenOrientation="portrait"/>
    </application>

</manifest>
